<!-- 
  SUBMISSION METHODS
 -->
<h3>There is no need to be an expert in coding form submission scripts for this exam</h3>
<h2>But you need to know the most common submission methods and how they operate</h2>

<h1>GET</h1>
<h3>A request to retrieve information, like an image or webpage<br>
  With the GET Method, user attributes will appear in the URL.<br>
  This method should not be used for submitting sensitive information</h3>

<h1>POST</h1>
<h3>Is a request to take the submitted data and modify data on the server as a result of user input.<br>
  For example,a form using POST can be used to change existing customer information.</h3>

<h1>Put</h1>
<h3>Is a submission method that's a request ti take submitted daata and insert it into database.</h3>

<h1>Delete</h1>
<h3>A request to remove informarion from a database.<br>
  This should be used with CAUTION.</h3>