body{
  /* property : value; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcb688;
}
p {
  color: navy;
}

/* The background color expands across the page so we have commented out for now. Needs a fix */
figcaption {
  font-weight: bold;
  /* background-color: aqua; */
}
.sale {
  font-weight: bold;
  background-color: aqua;
}
#sidenote {
  background-color: gainsboro;
}
a {
  text-decoration: none;
}
/* pseudo class */
a:hover {
  text-decoration: underline;
  font-weight: bold; 
  font-family: 'Paletino Linotype','Times New Roman', serif;
}