body{
  /* property : value; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcb688;
}
p {
  color: navy;
}
/* Applying style */
.sale {
  font-weight: bold;
  background-color: aqua;
}
#sidenote {
  background-color: gainsboro;
}
a {
  text-decoration: none;
}
/* pseudo class */
a:hover {
  text-decoration: underline;
  font-weight: bold; 
}